@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root{
    --cor01:#BFBDBD;
    --cor02:#1F2626;
    --cor03:#0A0C0D;
    --cor04:#0378A6;
    --cor05:#023859;
}

*{  
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    font-weight: bolder;
    padding-left: 18px;
    color: gray;
}

a:hover{
    color: var(--cor04);
}

.navegacao{
    padding: 30px 15px;
    background-color: var(--cor02);
}

body{
    background-color: white;
    background-image: url(imagens/imgdefundodarkroom.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
}

main{
    padding-top: 30vh;
    padding-left: 10vw;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
    color: white;
}

p{
    padding-top: 15vh;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}